@import url(http://fonts.googleapis.com/css?family=Lato|Roboto+Slab:300&subset=latin,latin-ext);
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body > header {
  background-color: #abc;
  padding: 0 2em; }
  body > header > nav {
    height: 2.6em;
    margin: 0 auto;
    max-width: 58em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body > header > nav > menu {
      margin: auto 0; }
      body > header > nav > menu > menuitem {
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px; }
        body > header > nav > menu > menuitem a {
          color: inherit;
          text-decoration: none; }
          body > header > nav > menu > menuitem a:hover {
            text-decoration: underline; }
        body > header > nav > menu > menuitem + menuitem {
          margin-left: 0.8em; }

body > footer {
  text-align: center;
  padding: 0 2em; }
  body > footer > section {
    margin: 1em auto 2.5em auto;
    max-width: 58em;
    border-top: 1px solid #ccc;
    padding-top: 0.5em; }
    body > footer > section p {
      color: #999;
      font-size: 0.7em; }

a {
  color: #69f;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300; }

section.introduction {
  margin: 0 2em;
  text-align: center; }
  section.introduction p {
    margin: 2em auto 1em auto;
    max-width: 30em; }

.lr-crumple-zone {
  margin: 0 auto;
  max-width: 60em; }

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1em; }

article {
  margin: 1em;
  width: 17em; }
  article h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 0.5em 0;
    text-align: center;
    word-spacing: 0.12em; }
  article menu {
    margin-top: 0.3em;
    text-align: center;
    width: 100%; }
  article menuitem {
    margin: 0 0.6em; }
